<section>
  <h2 class="bg-warning">Lista en tabla</h2>
<section class="container-sm">
    <table class="table table-hover">
        <thead class="table-dark">
            <tr >
                <th>First Name</th>
                <th>Last Name:</th>
                <th>Email:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-warning">Lily</td>
                <td class="table-warning">Dkli</td>
                <td class="table-warning">dkli@gmail.com</td>
            </tr>
        </tbody>
    </table>
</section>
</section>
